html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#leftColumn {
    height: 100%;
}

#map {
	bottom:0px;
    height: 100%;
    position: absolute;
    right: 0px;
}

#pano {
    width: 200px;
    height: 200px;
  }