html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h2 {
  color: white;
}

#leftColumn {
  height: 100%;
}

#map {
	bottom:0px;
  height: 100%;
  position: absolute;
  right: 0px;
}

#pano {
  width: 200px;
  height: 200px;
}

/* left column */

#locationList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#locationList li {
  border-bottom: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  cursor: pointer;
}

#locationList li:hover:not(.header) {
  background-color: #eee;
}